h1 {
    font-family: 'fira sans';
    color: blue;
}

p {
    font-family: sans-serif;
    color: teal;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#id-selector {
    color: orange;
    font-weight: bold;
    font-size: 52px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
body{
    text-align: center;
    background-color: lightgrey;
    margin: 80px;
}